/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: #292929 solid 1px;
}

/* REACT DEFAULTS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
==========================================
SANDBOX PAGE 
==========================================
*/

.home__sandbox {
  background-color: lightblue;
  height: 100vh;
}

/* counter  ================ */
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.counter > * {
  margin: 0 0.25rem;
}

.counter > button {
  display: inline;
  background-color: transparent;
  padding: 0.25rem;
  border: #262626 solid 1px;
  border-radius: 0.25rem;
}

/* API related testing  ================   */
.data__section > h3 {
  /* display: flex;
  flex-wrap: wrap; */
  border-bottom: #292929 solid 1px;
  padding: 1rem;
}
.user__card {
  background-color: #fff;
  border: #262626 solid 1px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
}
.user__card:hover {
  cursor: pointer;
}
.local__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
