/*
=====================================
CSS TABLE OF CONTENTS
=====================================
*/

/*
  - Reset
  - Global variables 
  - Global Styles
  - Login / Register Pages 
*/

/*
=====================================
Reset
=====================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button,
input,
select,
textarea {
  color: inherit;
  background: none;
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/*
=====================================
Global Variables 
=====================================
*/

/*
NOTES/Ideas : Grays

- #c0c0c0: Light
- #353535: Middle
- #262626: Dark

*/

:root {
  /* Reds : POMODORO INSPIRED */
  --red-1: hsl(0, 71%, 54%);
  --red-2: hsl(3, 77%, 47%);
  --red-3: hsl(3, 100%, 73%);
  --red-4: hsl(3, 47%, 68%);
  /* Grays */
  --gray-light: #eeeeee;
  --gray-mid-light: #c0c0c0;
  --gray-mid: #353535;
  --gray-dark: #262626;

  /* Whites */
  --white: #fff;
  --white-1: #f3f3f3;
  --white-2: #cdc0b1;
  --white-3: #b7a48f;
  --white-4: #898580;

  /* Spacing */
  --space-main: 0.5rem;
  --space-mid: 1rem;
  --space-large: 2rem;

  /* Borders */
  --border: 1px;
  --border-radius: 0.25rem;
}

/*
=====================================
Global Styles
=====================================
*/

body {
  margin: 0;
  color: var(--gray-mid);
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white-1);
}

button:hover {
  cursor: pointer;
}

/* Card */
.card {
  border: var(--gray-mid) solid var(--border);
  border-radius: var(--border-radius);
}

/*
=====================================
Login / Register Pages 
=====================================
*/

.login__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
.login__page a {
  color: var(--gray-dark);
}
.modal__card {
  min-width: 300px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: var(--space-large);
  margin-bottom: 0.5rem;
  box-shadow: 0px 10px 10px 10px var(--gray-light);
}

.modal__card > h2 {
  margin-bottom: var(--space-large);
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form > * {
  display: block;
  margin: 0.25rem auto;
  width: 100%;
  text-align: center;
  border: var(--gray-mid-light) solid var(--border);
  border-radius: var(--border-radius);
  padding: var(--space-main);
}
.login__form > button {
  background-color: var(--gray-mid-light);
  color: var(--white);
  margin-bottom: var(--space-large);
}
