/*
=====================================
CSS TABLE OF CONTENTS
=====================================
*/

/*
  - Reset
  - Global variables 
  - Global Styles
  - Nav
  - Login / Register Pages 
*/

/*
=====================================
Reset
=====================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button,
input,
select,
textarea {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/*
=====================================
Global Variables 
=====================================
*/

/*
NOTES/Ideas : Grays

- #c0c0c0: Light
- #353535: Middle
- #262626: Dark

*/

:root {
  /* Reds : POMODORO INSPIRED */
  --red-1: hsl(0, 71%, 54%);
  --red-2: hsl(3, 77%, 47%);
  --red-3: hsl(3, 100%, 73%);
  --red-4: hsl(3, 47%, 68%);
  /* Grays */
  --gray-light: #eeeeee;
  --gray-mid-light: #c0c0c0;
  --gray-mid: #616161;
  --gray-dark: #262626;
  --gray-darkest: #1b1b1b;

  /* Whites */
  --white: #fff;
  --white-1: #f3f3f3;
  --white-2: #cdc0b1;
  --white-3: #b7a48f;
  --white-4: #898580;

  /* Spacing */
  --space-small: 0.25rem;
  --space-main: 0.5rem;
  --space-mid: 1rem;
  --space-large: 2rem;

  /* Borders */
  --border: 1px;
  --border-radius: 0.25rem;
}

/*
=====================================
Global Styles
=====================================
*/

body {
  margin: 0;
  color: var(--gray-mid);
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white-1);
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--gray-darkest);
}
/* Card */
.card {
  border: var(--gray-mid) solid var(--border);
  border-radius: var(--border-radius);
}

/*
=====================================
Nav
=====================================
*/
.topNav {
  padding: var(--space-mid) var(--space-main);
  /* border-bottom: var(--gray-mid-light) solid 1px; */
}
.topNav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.register-items a:nth-child(2) {
  margin-left: var(--space-large);
}

/*
=====================================
Login / Register Pages 
=====================================
*/

.login__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
.login__page a {
  color: var(--gray-dark);
}
.modal__card {
  min-width: 350px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  padding: var(--space-large) var(--space-mid);

  margin-bottom: 0.5rem;
  box-shadow: 0px 10px 10px 10px var(--gray-light);
}

.modal__card > h2 {
  margin-bottom: var(--space-large);
  font-weight: 200;
  font-size: 2rem;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__form > * {
  display: block;
  margin: 0.25rem auto;
  width: 100%;
  text-align: center;
  border: var(--gray-mid-light) solid var(--border);
  border-radius: var(--border-radius);
  padding: var(--space-main);
}
.login__form > button {
  background-color: var(--gray-mid);
  color: var(--white);
  margin-bottom: var(--space-large);
}

.subheading {
  color: var(--gray-mid);
}
/*
=====================================
Home/Profile Page
=====================================
*/

.profile__page {
  padding: var(--space-main);
}
.profile__page > h1 {
  padding-bottom: var(--space-main);
  margin-bottom: var(--space-mid);
  border-bottom: var(--white-2) solid 1px;
}
.modal__container {
  position: relative;
}

/*
=====================================
Notes List
=====================================
*/

.note__list {
  /* width: 95%; */
  margin: 1rem auto;
}
.note__card {
  margin-bottom: var(--space-large);
  padding-bottom: var(--space-main);
  border-bottom: var(--white-2) solid 1px;
}

/*
=====================================
Add Note Modal
=====================================
*/
.add__modal {
  border: #1b1b1b solid 1px;
  background-color: white;
  border-radius: var(--border-radius);
  position: absolute;
  width: 100%;
  top: 3px;
  right: 0;
  left: 0;
  padding: 3rem;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}
.close__modal {
  position: absolute;
  padding: var(--space-small);
  top: 3px;
  right: 3px;
  width: fit-content;
}
